body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  /* Light grey background */
}

.container {
  max-width: 1920px;
  /* Maximum container width */
  margin: auto;
  /* Center the container */
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap */
  justify-content: flex-end;
  /* Space between items */
}

canvas {
  width: 100%;
}

.video {
  flex-basis: calc(70% - 10px);
  /* Adjust based on screen size */
  overflow: hidden;
  /* Prevent canvas from overflowing */
}

.table-container {
  flex-basis: calc(20% - 10px);
  /* Adjust based on screen size */
  overflow: auto;
  /* Enable scrolling if content overflows */
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* Remove double borders */
  font-size: small;
}

th,
td {
  text-align: left;
  /* Align text to the left */
  padding: 8px;
  /* Add padding */
}

button {
  display: block;
  margin: 20px auto;
  /* Center button */
  padding: 10px 20px;
  /* Increase padding */
  background-color: #007bff;
  /* Blue background */
  color: white;
  /* White text */
  border: none;
  /* No border */
  cursor: pointer;
  /* Pointer cursor on hover */
}

@media (max-width: 768px) {

  .video,
  .table-container {
    flex-basis: 100%;
    /* Full width on small screens */
  }
}
