body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.canvas {
  background-color: 'black';
}

.container {
  width: 100%;
  display: flex;
}

.video {
  float: left;
}

.table-container {
  float: left;
  width: 50%;
  display: grid;
}

table {
  width: 100%;
  clear: both;
}

button {
  clear: both;
  margin-top: 20px;
}
